/*!
 * Mastertech - Portfolio Item
 * Insira seu código entre os comentários localizados no fim desta pagina ou/e
 * Edite o código do layout original
 */


/* Edite o código abaixo para mudar as opções do layout original */

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}


/* Inicio do meu CSS */
.novabarra {background-color: #04a570;}
.novasemente {color: #f8f9fa ;}

/* Fim do meu CSS */
